button {
    height: 30px;
    width: 90%;
    color: #292929;
    border-radius: 50px;
    cursor: pointer;
    transition: background 0.3s ease-in 0s;
    line-height: 130%;
    letter-spacing: 0.06em;
    border: 2px solid $activeColor;

    &:hover {
        border: 2px solid $activeColor;
        background: $activeColor;
    }
    &:disabled {
        color: $mainTextColor;
        border: 2px solid $borderColor;
        background: none;
        cursor: auto;
        opacity: 0.5;
    }
}

.btn-light {
    border: 2px solid $borderColor;
    background: none;
    cursor: pointer;
}

.nav-btn {
    text-align: center;
    margin: 40px 0;
    p {
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        padding-bottom: 4px;
    }
    li {
        display: inline;
        list-style-type: none;
        padding: 0 8px;
    }
    button {
        width: 52px;
        height: 52px;
    }
}

.page-num {
    color: $mainTextColor;
    border: 2px solid $borderColor;
    background: none;
    cursor: auto;

    &:hover {
        background: none;
        border: 2px solid $borderColor;
    }
}

@media screen and (max-width: 600px) {
    .nav-btn li {
        padding: 0 2px;
    }
    .nav-btn button {
        width: 45px;
        height: 45px;
    }
    .nav-btn {
        margin: 20px 0;
    }
}
