button {
    height: 52px;
    width: 187px;
    color: #292929;
    border-radius: 100px;
    cursor: pointer;
    transition: background 0.3s ease-in 0s;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

.btn-light {
    border: 2px solid $borderColor;
    background: none;
    cursor: pointer;
}
button:hover {
    border: 2px solid $activeColor;
    background: $activeColor;
}

.nav-btn {
    padding-bottom: 69px;
    margin: 0 auto;
}
.nav-btn p {
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    padding-bottom: 4px;
}

.nav-btn li {
    display: inline;
    list-style-type: none;
    padding: 0 8px;
}
.page-num {
    color: $mainTextColor;
    border: 2px solid $borderColor;
    background: none;
    cursor: auto;
}
.page-num:hover {
    background: $activeColor;
    border: 2px solid $activeColor;
}
.nav-btn button {
    width: 52px;
    height: 52px;
}
button:disabled {
    color: $mainTextColor;
    border: 2px solid $borderColor;
    background: none;
    cursor: auto;
    opacity: 0.5;
}

@media screen and (max-width: 600px) {
    .nav-btn li {
        padding: 0 2px;
    }
    .nav-btn button {
        width: 45px;
        height: 45px;
    }
}
