@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,400;0,500;1,300;1,500&family=Roboto:wght@400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    color: $mainTextColor;
    line-height: 1.25em;
}

h1 {
    font-family: 'Kantumruy Pro', sans-serif;
    font-style: italic;
    text-shadow: 5px 0px 4px rgb(19, 18, 18);
    color: $logoColor;
    letter-spacing: 0.1em;
    line-height: 1em;
}
h3 {
    letter-spacing: 0.06em;
    padding: 5px;
}
.card-name,
.git-link span,
.date span,
.count span,
.filter-btn span {
    font-family: 'Kantumruy Pro', sans-serif;
}

.card-price {
    font-weight: bold;
}
