$borderColor: rgb(205, 196, 196);
$mainTextColor: rgb(247, 241, 241);
$logoColor: white;
$activeColor: #d42dab;
$mainBgColor: #4261cf;
$mainBgMiddleColor: #4d1d63;
$mainBgEndColor: #030243;
$darkTextColor: #030243;
$typeBorder2px: 2px solid $borderColor;
