/* * {
    outline: 1px solid red;
} */
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    max-width: 1920px;
    margin: 0 auto;
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

.container {
    margin: 0 40px;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}
.alphabet {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
}
.alphabet li {
    list-style-type: none;
    font: 300 1.2rem 'Fira Sans', sans-serif;
    color: #70d6ff;
    cursor: pointer;
    padding: 0 5px;
    box-sizing: border-box;
    transition: 0.25s;
}
.alphabet li:hover,
.alphabet li:focus {
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.25em);
}

footer {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}

.git-link {
    transition: 0.25s;
}
.git-link:hover {
    transform: translateY(-0.25em);
}
.date,
.git-link a {
    font: 300 1rem 'Fira Sans', sans-serif;
    color: #70d6ff;
    opacity: 0.8;
}
.git-link a {
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    column-gap: 5px;
}
.git-link a:hover {
    opacity: 1;
}

.git-link img {
    filter: invert(75%) sepia(73%) saturate(3115%) hue-rotate(165deg) brightness(99%) contrast(104%);
    opacity: 0.8;
    transition: 0.25s;
}
.git-link img:hover {
    opacity: 1;
}
.logo-link {
    height: 100px;
}

.logo-link svg {
    height: 60px;
    filter: invert(75%) sepia(73%) saturate(3115%) hue-rotate(165deg) brightness(99%) contrast(104%);
    opacity: 0.8;
    transition: 0.25s;
    padding-top: 20px;
}

.logo-link svg:hover {
    opacity: 1;
    transform: translateY(-0.25em);
}

@media screen and (max-width: 768px) {
    .alphabet {
        flex-wrap: wrap;
        row-gap: 10px;
        margin: 15px auto;
    }
}

@media screen and (max-width: 600px) {
    .container {
        margin: 0 20px;
    }

    footer {
        flex-wrap: wrap;
        height: 150px;
    }

    .copyright,
    .date {
        flex-basis: 49%;
        text-align: center;
    }
}

@media screen and (max-width: 375px) {
    .container {
        margin: 0 10px;
    }
    footer {
        flex-wrap: nowrap;
        flex-direction: column;
        row-gap: 15px;
        height: 200px;
    }
    .copyright,
    .date {
        flex: 1;
    }
    .logo-link svg {
        padding-top: 0;
    }
}
