* {
    outline: 1px solid green;
}

body {
    position: relative;
    // background: url('../../src/assets/images/photo.jpg');
    width: 100vw;
    max-width: 1440px;
    font-size: 1.5rem;
}

.div {
    position: absolute;
    z-index: 100;
    left: 50%;
    width: 200px;
    height: 200px;
    border: 5px solid purple;
    background: url('./assets/images/1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
