/* * {
  outline: 1px solid red;
} */

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/
/*Базовые стили*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, sans-serif;
  margin: 0;
  padding: 0;
}
:root {
  --bg-dark: #000000;
  --logo: #f1cdb3;
  --white: #ffffff;
  --normal: #cdcdcd;
  --active-button: #fddcc4;
  --header-font: Georgia, sans-serif;
  --basic-font: Arial, sans-serif;
  --regular-font: 15px;
}

/*--------------------*/
html {
  background: #f6f6f6;
}
body {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  font-family: Arial, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}
body.off,
html.off {
  overflow: hidden;
  height: 100%;
}
/*--------------------*/

/* header */
.container-header {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 60px;
}
header {
  height: 60px;
  display: flex;
  justify-content: space-between;
}
h1 {
  font-size: 32px;
  line-height: 35.2px;
  color: var(--logo);
  letter-spacing: 0.06em;
}

.logo-text {
  font-size: 13px;
  line-height: 14.95px;
  font-family: var(--basic-font);
  color: var(--white);
  padding-top: 10px;
  text-align: justify;
  letter-spacing: 0.1em;
}

.logo span {
  width: 100%;
  display: inline-block;
}
.nav {
  align-self: center;
}

.nav-list {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
.nav-item a {
  color: var(--normal);
  cursor: pointer;
  font-size: var(--regular-font);
  line-height: 24px;
  margin-left: 35px;
  padding-bottom: 2px;
}
.nav-item a:active {
  color: var(--white);
}
.nav-item a:hover {
  color: var(--white);
}
.nav-item.active a {
  color: var(--white);
  border-bottom: 3px solid var(--logo);
  /* text-decoration: underline 3px var(--logo); */
}

/* burger-menu */
.burger-menu {
  display: none;
}

/*--------------------*/
/* not-only */
.container {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 40px;
}
.not-only {
  min-height: 788px;
  display: flex;
  justify-content: space-between;
  /* background-image: url(../../../assets/images/start-screen-puppy.png) no-repeat; */
}
.not-only::before {
  background: radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%)
    #211f20;
  position: absolute;
  content: '';
  background-repeat: no-repeat;
  background-position: center 0;
  width: 100%;
  max-width: 1280px;
  min-height: 908px;
  top: 0;
  /* left: 0; */
  margin-left: -40px;
  z-index: -1;
}
.start-content {
  align-self: center;
}
h2 {
  font-size: 44px;
  line-height: 57.2px;
  color: var(--white);
  font-family: var(--header-font);
}
div.h2 {
  width: 310px;
}
.start-content > div.text {
  width: 460px;
  margin: 42px 0;
}
.text > p {
  font-size: var(--regular-font);
  color: var(--normal);
  line-height: 24px;
}
button {
  height: 52px;
  background: var(--logo);
  color: #292929;
  border-radius: 100px;
  cursor: pointer;
  transition: background 0.3s ease-in 0s;
}
.start-content button {
  width: 207px;
  margin-bottom: 20px;
}
button > span {
  color: #292929;
  font-size: 17px;
  line-height: 22.1px;
  font-family: var(--header-font);
  letter-spacing: 0.06em;
}
button:hover {
  background: var(--active-button);
}
.start-puppy {
  align-self: flex-end;
}
.start-puppy img {
  width: 100%;
}
/*--------------------*/
/* about */
#about,
#help {
  background: var(--white);
}
.about {
  min-height: 588px;
  display: flex;
  justify-content: center;
  column-gap: 120px;
  padding-bottom: 20px;
}

.pic-about {
  align-self: center;
}
.about-content {
  align-self: center;
}
h3 {
  font-size: 35px;
  line-height: 45.5px;
  color: #545454;
  font-family: var(--header-font);
  letter-spacing: 0.06em;
}
.h3 {
  width: 370px;
}
.text-about {
  width: 430px;
  margin-top: 25px;
}
.text-about > p {
  font-size: var(--regular-font);
  line-height: 24px;
  color: #4c4c4c;
  font-family: var(--basic-font);
}
/*--------------------*/
/* our-friends */
.our-friends {
  min-height: 877px;
}
.our-friends > h3,
.help > h3 {
  text-align: center;
  padding: 80px 0 60px;
}
.btn-friends button {
  width: 261px;
}
.pets-cards {
  height: 435px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-friends {
  text-align: center;
  padding-top: 60px;
}
.btn-light {
  border: 2px solid var(--logo);
  background: #fafafa;
  cursor: pointer;
}
.btn-light:hover {
  border: 2px solid var(--active-button);
}
.prev,
.next {
  width: 52px;
  height: 52px;
  padding-top: 9px;
  background: none;
}
.prev {
  order: -1;
}
.prev:disabled,
.next:disabled {
  color: #cdcdcd;
  border: 2px solid #cdcdcd;
  background: none;
  cursor: auto;
}
.prev:disabled img,
.next:disabled img {
  filter: invert(80%) sepia(0%) saturate(0%) hue-rotate(267deg) brightness(102%)
    contrast(95%);
}

.card {
  width: 270px;
  text-align: center;
  background: #fafafa;
  border-radius: 9px;
}
.card img {
  width: 100%;
  border-radius: 9px 9px 0 0;
}
.card p {
  color: #545454;
  font-family: var(--header-font);
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  margin-top: 30px;
}
.card-btn {
  width: 187px;
  height: 52px;
  color: #292929;
  font-family: var(--header-font);
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  margin: 30px 0;
}

.cards-change {
  /* display: flex;
  column-gap: 90px; */
  width: 990px;
  overflow: hidden;
}
.slider {
  width: 2908px;
  position: relative;
  left: 0;
  transition: all ease 1s;
}
.slider.active {
  z-index: -1;
}
.slider::after {
  content: '';
  display: block;
  clear: both;
}
.card {
  display: inline-block;
  margin-right: 86px;
  cursor: pointer;
}
.card:hover {
  background: var(--white);
}
.card:hover .btn-light {
  border: 2px solid var(--active-button);
  background: var(--active-button);
}
/*--------------------*/
/* modal-window */
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #292929;
  background-color: rgba(0, 0, 0, 0.6);
}
/* The Close Button */
.close {
  color: #292929;
  background: none;
  width: 52px;
  position: absolute;
  right: -42px;
  top: -53px;
}
.close span {
  font-size: 30px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-window {
  /* width: 900px; */
  width: 63%;
  height: 500px;
  background: #fafafa;
  display: flex;
  /* align-items: center; */
  border-radius: 9px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.modal-pic {
  width: 500px;
  border-radius: 9px;
}

.modal-content {
  width: 350px;
  margin: 0 auto;
  padding-top: 50px;
}
.pet-type {
  font-family: var(--header-font);
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}
.description,
.age,
.inoculations,
.diseases,
.parasites {
  font-family: var(--header-font);
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
}
.description {
  padding: 40px 0;
}
.name {
  padding-bottom: 10px;
}
.modal-window ul li {
  list-style: inside;
  padding-bottom: 11px;
}
.modal-window li::marker {
  color: var(--logo);
  font-size: 1em;
}
.age,
.inoculations,
.diseases,
.parasites {
  padding-left: 4px;
}

/*--------------------*/
/* help */
.help {
  min-height: 611px;
}
.help-items {
  padding: 0 87px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 55px;
  column-gap: 119px;
}
.help-title {
  font-size: 20px;
  line-height: 23px;
  color: #545454;
  font-family: var(--header-font);
  letter-spacing: 0.06em;
  text-align: center;
  padding-top: 90px;
}
.help-item {
  min-width: 60px;
  height: 113px;
}
.help-item:nth-child(n) {
  background-size: 60px 60px;
  background-repeat: no-repeat;
  background-position: center 0;
}

.help-item:nth-child(1) {
  background-image: url('../../../assets/icons/pet-food.svg');
}
.help-item:nth-child(2) {
  background-image: url('../../../assets/icons/transportation.svg');
}
.help-item:nth-child(3) {
  background-image: url('../../../assets/icons/toys.svg');
}
.help-item:nth-child(4) {
  background-image: url('../../../assets/icons/bowls-and-cups.svg');
}
.help-item:nth-child(5) {
  background-image: url('../../../assets/icons/shampoos.svg');
}
.help-item:nth-child(6) {
  background-image: url('../../../assets/icons/vitamins.svg');
}
.help-item:nth-child(7) {
  background-image: url('../../../assets/icons/medicines.svg');
}
.help-item:nth-child(8) {
  background-image: url('../../../assets/icons/collars-or-leashes.svg');
}
.help-item:nth-child(9) {
  background-image: url('../../../assets/icons/sleeping-area.svg');
}

.vitamins {
  margin-left: 84px;
}
/*--------------------*/
/* donation */
.donation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 462px;
}
.pic-donation,
.donation-content {
  flex-basis: 44.8%;
}

.pic-donation {
  align-self: center;
  /* width: 44.8%; */
  padding-bottom: 16px;
}

.donation-content {
  max-width: 380px;
}
.donation-content > h3 {
  padding-top: 80px;
}
.donation-content > p {
  color: #545454;
  font-family: var(--header-font);
  font-size: var(--regular-font);
  line-height: 110%;
  letter-spacing: 0.06em;
  padding: 20px 0;
}
.donation-content > p:last-child {
  color: #b2b2b2;
  font-style: italic;
  font-family: var(--basic-font);
  font-size: 12px;
  line-height: 18px;
  padding-top: 20px;
  letter-spacing: normal;
}
.card-num {
  display: flex;
  height: 43px;
  width: 349px;
  background: var(--logo);
  border-radius: 9px;
  padding: 10px 0;
  cursor: pointer;
}
.card-num:hover {
  background: var(--active-button);
}
.pic-card {
  padding: 0 15px;
}
.pic-card img {
  width: 30px;
  height: 23px;
  color: #292929;
}
.card-num > a {
  color: #545454;
  font-family: var(--header-font);
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}

/*--------------------*/
/* footer */
footer {
  background: radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%)
    #211f20;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.wrapper {
  display: flex;
  column-gap: 160px;
}
.questions {
  max-width: 278px;
}
.visit {
  max-width: 302px;
}
.questions,
.visit {
  margin: 16px 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer h3 {
  color: var(--white);
  letter-spacing: 0.059em;
}

.footer p {
  font-family: var(--header-font);
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: var(--logo);
  padding-left: 20px;
}
.block {
  display: flex;
}
.block a {
  margin: auto 0;
}

/*--------------------*/
/* adaptive */
@media screen and (max-width: 1279px) {
  /* header */
  .container-header {
    margin: 30px 30px 0px 30px;
  }
  /*--------------------*/
  /* not-only */
  .container {
    margin: 0 30px;
  }
  .not-only {
    max-height: 1090px;
    flex-direction: column;
  }
  .not-only::before {
    height: 1165px;
    margin-left: -30px;
  }
  .start-content {
    padding-top: 60px;
  }
  .start-content button {
    margin-bottom: 100px;
  }
  .btn-our-friends {
    text-align: center;
  }
  .start-puppy img {
    width: 81.5%;
  }

  .start-puppy {
    text-align: right;
  }

  /*--------------------*/
  /* about */
  .about {
    flex-direction: column;
    padding-bottom: 100px;
  }

  .pic-about {
    order: 1;
  }
  .about-content {
    padding: 79px 0px;
  }
  /*--------------------*/
  /* our-friends */
  .cards-change {
    width: 580px;
  }
  .card {
    margin-right: 36px;
  }
  /*--------------------*/
  /* modal-window */
  .modal-window {
    width: 81%;
    height: 350px;
  }
  .modal-pic {
    width: 350px;
  }
  .description {
    padding: 20px 0;
    font-size: 13px;
    line-height: 110%;
  }
  .modal-window ul li {
    padding-bottom: 6px;
  }
  .modal-content {
    width: 261px;
    padding-top: 10px;
  }

  /*--------------------*/
  /* help */
  .help {
    padding-bottom: 100px;
  }
  .help-items {
    padding: 0 25px;
    column-gap: 0px;
    justify-content: space-between;
  }

  .help-item:nth-child(n) {
    flex-basis: 30%;
  }

  .vitamins {
    margin-left: 0px;
  }
  /*--------------------*/
  /* donation */
  .donation {
    flex-direction: column;
    align-items: center;
  }
  .pic-donation {
    padding-bottom: 100px;
    padding-top: 40px;
    order: 1;
  }
  .donation-content > h3 {
    padding-top: 79px;
  }

  /*--------------------*/
  /* footer */
  .footer {
    flex-wrap: wrap;
    padding-top: 30px;
    justify-content: center;
    row-gap: 65px;
  }
  .wrapper {
    flex-basis: 100%;
    justify-content: space-around;
    column-gap: normal;
    min-height: 234px;
    padding: 0 3px 0;
  }
  .questions,
  .visit {
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  /* header */

  .container-header {
    margin: 30px 10px 0px 10px;
  }
  #header.active {
    justify-content: flex-end;
    column-gap: 41px;
  }
  .logo.active {
    position: relative;
    z-index: 14;
  }

  .nav.active {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    right: 0;
  }
  .nav-list {
    display: block;
    position: fixed;
    z-index: 13;
    top: 0;
    right: -100%;
    width: 320px;
    height: 100%;
    background-color: #292929;
    padding-top: 248px;
    text-align: center;
    transition: right 0.5s ease;
    overflow: auto;
  }
  .nav-item a {
    font-size: 32px;
    line-height: 51.2px;
    margin-left: 0;
    padding-bottom: 7px;
  }
  .nav-item {
    margin-bottom: 42px;
  }
  .nav-list.active {
    right: 0;
  }

  /* burger-menu */
  .burger-menu {
    width: 30px;
    height: 22px;
    margin-top: 19px;
    margin-right: 43px;
    position: relative;
    z-index: 14;
    display: block;
    cursor: pointer;
  }
  .burger-menu::before,
  .burger-menu::after,
  .burger-menu span {
    background-color: var(--logo);
    height: 10%;
    width: 100%;
    position: absolute;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .burger-menu::before,
  .burger-menu::after {
    content: '';
  }
  .burger-menu::before {
    top: 0;
  }
  .burger-menu::after {
    bottom: 0;
  }
  .burger-menu span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .burger-menu.active span {
    transform: rotate(90deg) translate(0px, 0px);
  }
  .burger-menu.active:before {
    top: 50%;
    transform: rotate(90deg) translate(0px, 11px);
  }
  .burger-menu.active:after {
    top: 50%;
    transform: rotate(90deg) translate(0px, -11px);
  }

  /*--------------------*/
  /* not-only */
  .container {
    margin: 0 10px;
  }
  h2 {
    font-size: 25px;
    line-height: 32.5px;
    letter-spacing: 0.06em;
    text-align: center;
  }
  div.h2 {
    width: 263px;
    margin: 0 auto;
  }
  .start-content > div.text {
    max-width: 300px;
    text-align: center;
  }
  .not-only::before {
    height: 1180px;
    margin-left: -10px;
  }
  .not-only {
    min-height: 733px;
  }
  .start-puppy img {
    width: 86.9%;
  }

  /*--------------------*/
  /* about */
  h3 {
    font-size: 25px;
    line-height: 32.5px;
  }
  .h3 {
    text-align: center;
    width: 100%;
  }
  .text-about {
    width: 270px;
    text-align: justify;
    margin: 0 auto;
    padding-top: 23px;
  }

  .about-content {
    padding: 42px 0px;
  }
  .pic-about img {
    width: 86.8%;
  }

  .about {
    padding-bottom: 40px;
  }

  .pic-about {
    text-align: center;
  }
  /*--------------------*/
  /* our-friends */
  .our-friends > h3,
  .help > h3 {
    padding: 42px 0;
  }
  .prev {
    order: 1;
    margin-right: 22px;
  }
  .next {
    order: 2;
  }
  .pets-cards {
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 20px;
  }
  .cards-change {
    width: 100%;
    margin-left: 15px;
  }
  .btn-friends {
    padding-top: 114px;
  }
  .our-friends {
    min-height: 792px;
  }
  /*--------------------*/
  /* modal-window */
  .modal-window {
    width: 75%;
    min-height: 341px;
  }
  .modal-pic {
    display: none;
  }
  .description {
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
  }
  .modal-window ul {
    padding-left: 10px;
  }
  .modal-content {
    width: 100%;
    overflow: scroll;
  }
  .name,
  .pet-type {
    text-align: center;
  }
  .close {
    right: -26px;
  }

  /*--------------------*/
  /* help */
  .help-item:nth-child(n) {
    flex-basis: 47%;
  }
  .help-item {
    min-width: 50px;
    height: 87px;
  }
  .help-title {
    font-size: 15px;
    line-height: 16.5px;
    padding-top: 70px;
  }
  .help-item:nth-child(n) {
    background-size: 50px 50px;
  }
  .help-items {
    padding: 0;
    row-gap: 30px;
  }

  .help {
    padding-bottom: 41px;
  }

  /*--------------------*/
  /* donation */
  .donation-content > h3 {
    padding-top: 42px;
  }
  .card-num > a {
    font-size: 15px;
    line-height: 16.5px;
  }
  .card-num {
    width: 281px;
    padding: 9px 0;
    margin: 0 auto;
  }
  .card-num > a {
    padding-top: 4px;
  }
  .pic-donation img {
    width: 100%;
  }

  .pic-donation {
    width: 88%;
    padding: 20px 0 42px 0;
  }
  .donation-content {
    text-align: center;
  }
  .donation-content > p {
    letter-spacing: 0;
    line-height: 24px;
  }
  .donation-content > p:last-child {
    padding: 20px 10px 20px;
    text-align: justify;
  }

  /*--------------------*/
  /* footer */
  .footer {
    row-gap: 40px;
  }
  .wrapper {
    flex-direction: column;
    width: 100%;
    align-items: center;
    row-gap: 40px;
    padding: 0;
  }
  .footer h3 {
    text-align: center;
    padding: 0 11px 0;
  }
  .questions {
    row-gap: 42px;
  }

  .visit {
    row-gap: 40px;
  }
  .email,
  .phone {
    align-self: center;
  }
  .pic-footer {
    text-align: center;
    width: 302px;
  }
  .pic-footer img {
    width: 86.5%;
  }
}

@media screen and (max-width: 375px) {
}

@font-face {
  font-family: 'Georgia';
  src: url('../../../assets/fonts/Georgia/georgia.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Georgia';
  src: url('../../../assets/fonts/Georgia/georgia_bolditalic.ttf')
    format('truetype');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Arial';
  src: url('../../../assets/fonts/Arial/arial.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Arial';
  src: url('../../../assets/fonts/Arial/arial_bold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: 'Arial';
  src: url('../../../assets/fonts/Arial/arial_italic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: 'Arial';
  src: url('../../../assets/fonts/Arial/arial_bolditalic.ttf')
    format('truetype');
  font-style: italic;
  font-weight: bold;
}
